@import "tailwindcss";

@theme {
  --color-brand-50: #f9f0ff;
  --color-brand-100: #f0e0ff;
  --color-brand-200: #e0c0ff;
  --color-brand-300: #c090ff;
  --color-brand-400: #a060ff;
  --color-brand-500: #4d0099;
  --color-brand-600: #3d007a;
  --color-brand-700: #2e005c;
  --color-brand-800: #1f003d;
  --color-brand-900: #10001f;
}